<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxSFrame">
		<title>Uzycie zdarzen</title>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnMouseClick" entry="EVT_LEFT_DOWN" />
		<handler function="OnMouseClick" entry="EVT_LEFT_UP" />
		<handler function="OnMouseClick" entry="EVT_LEFT_DCLICK" />
		<handler function="OnMouseClick" entry="EVT_RIGHT_DOWN" />
		<handler function="OnMouseClick" entry="EVT_RIGHT_UP" />
		<handler function="OnMouseClick" entry="EVT_RIGHT_DCLICK" />
		<handler function="OnMouseMove" entry="EVT_MOTION" />
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="mInfo" member="no">
				<label>&amp;Informacje</label>
				<object class="wxMenuItem" name="ID_SHOW_DATE" variable="MenuItem3" member="yes">
					<label>Pokaz date</label>
					<handler function="OnShowDate" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="ID_SHOW_SYS_VERSION" variable="MenuItem1" member="yes">
					<label>Pokaz wersje systemu</label>
					<handler function="OnShowSysVersion" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>3</fields>
			<widths>-1,-10,-10</widths>
			<styles>wxSB_RAISED,wxSB_RAISED,wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
